/* CSS designed by  Robert Erickson 
to understand the comments like 900px / 960px
   read http://alistapart.com/article/responsive-web-design/
*/
/*****************     main layout section             ************************/
//header, footer, nav, figure{display: block}
body{
    margin: 36px auto;
    width: 90%;

}

#page{
    margin: 0 auto 53px;
    width: 93.75%; /* 900px / 960px  */
    border: 1px solid black;
    border-radius: 15px;
}

#main{
    float: left;
    width: 52.8888889%;/* 566px / 900px */

}

#other{
    float: right;
    width: 46.7777778%; /* 331px / 900px */
}

/*****************     header section             *****************************/
#form.header h1 {
    padding: 0.8em 5.33333333%;  /* 48px / 900px */
    padding-bottom: 180px;
}
header h1 {
    padding: 0.8em 5.33333333%;  /* 48px / 900px */
}


/*****************     navigation section         *****************************/
nav ol {
    padding-left: 5.33333333%;  /* 48px / 900px */
}
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 3em;
}


/*****************     article section             ****************************/
/* un comment and see what happens */
/*
article{
    height: 200px;
    overflow: auto;
}
*/

article h1, article p, article table{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */

}


/*****************     aside section              *****************************/
aside {
    margin: 0 auto;
    width: 69.7885196%; /* 231px / 331px */
}
aside h2, aside p{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}


/*****************     footer section              ****************************/
footer{
    clear: both;
    padding: 0.8em 5.33333333%;  /* 48px / 900px */
}

/*****************     form section                ****************************/
#form article#main{
    float: none;
    margin: auto; /* because of the fixed width this centers the form */
    text-align: left;
    width: 600px; /* not repsonive but fixed */
    color:white;
}

/* need to clear any floats that may exist */
fieldset{
    border: 1px solid #999;
    clear: both;  
    padding-left: 20px;
    padding-top: 30px;
    font-size: 20px;
    font-family: 'century gothic',sans-serif;
}
.parWrapper{
    font-size: 16px;
    padding-bottom: 20px;
}
/* just pushes content to left side of the box. */
fieldset.contact{
    float: left;
    height: 680px;
    margin: auto;
    padding-top: 15px;
    font-size: 20px;
}
fieldset.intrests{
    height: 280px;
}
form.p{
    padding: 4em;
}
/* when you look at the labels this pushes then next to the input and right
aligns them. Display block means they are each on their own line. */
fieldset.contact label{
    display: block;
    text-align: right; /* pushes the text to the right where they line up */
    /* the float left above pushes everything back to the left*/

}
.rad{

    float: left;
    clear: none;
    display:block;
    padding: 2px 1em 0 0;
    padding-right: 20px;
}

input[type="radio"]{
    float: left;
    clear:none;
    margin: 2px 0 0 2px;
    border: none;
    outline: none;
    width: 16px;

}
.radGenre{
    width: 30px;
}
.chk{
    float: left;
    clear: none;
    display:block;
    padding: 2px 1em 0 0;
    padding-right: 20px;
}
input[type="checkbox"]{
    float: left;
    clear:none;
    margin: 2px 0 0 2px;
    border: none;
    outline: none;
    width: 16px;
}
/*fieldset.contact input{
    width: 15em;  works with above to be the same size for the boxes 
}*/

fieldset.buttons{
    border: none;
}

fieldset.wrapper {
    border: 0;
    margin: -6em;
    padding-bottom:120px;


}
iframe{
    padding-bottom: 40px;
}
/*fieldset.wrapper legend {
    color: #00498e;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}*/

fieldset.wrapper > legend {
    /* i only want the first legend ie if it follows the class wrapper */
    font-size: 2em;
}

figure.img-left {
    border: thin solid darkslategray;
    float: left;
    margin-left: 1em;
    padding: 0.5em;
}

figcaption {
    color: #dddddd;
    font-style: italic;
    text-align: center;
}

/***********************************************************************/

label {
    color: #005cb3;
    display: block;
    font-size: .9em;
    font-weight: bold;
}
body{
    background: #000;
    color: #DDD;
    font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}
label.required{
    width: 200px;
}
.border,

/*height and width of the box that alternates color.*/
.rain{
    height: 615px;
    width: 800px;
}
/* Layout with mask */
.rain{
    padding: 10px 12px 12px 10px;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
    box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
    margin: auto;
}
/* Artifical "border" to clear border to bypass mask */
.border{
    padding: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.border,
.rain,
.border.start,
.rain.start{
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 0;
    /* Blue-ish Green Fallback for Mozilla */
    background-image: -moz-linear-gradient(left, #09BA5E 0%, #00C7CE 15%, #3472CF 26%, #00C7CE 48%, #0CCF91 91%, #09BA5E 100%);
    /* Add "Highlight" Texture to the Animation */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,.3)), color-stop(23%,rgba(0,0,0,.1)), color-stop(40%,rgba(255,231,87,.1)), color-stop(61%,rgba(255,231,87,.2)), color-stop(70%,rgba(255,231,87,.1)), color-stop(80%,rgba(0,0,0,.1)), color-stop(100%,rgba(0,0,0,.25)));
    /* Starting Color */
    background-color: #39f;
    /* Just do something for IE-suck */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BA1B', endColorstr='#00BA1B',GradientType=1 );
}

/* Non-keyframe fallback animation */
.border.end,
.rain.end{
    -moz-transition-property: background-position;  
    -moz-transition-duration: 30s;
    -moz-transition-timing-function: linear;
    -webkit-transition-property: background-position;  
    -webkit-transition-duration: 30s;  
    -webkit-transition-timing-function: linear;
    -o-transition-property: background-position;  
    -o-transition-duration: 30s;  
    -o-transition-timing-function: linear;
    transition-property: background-position;  
    transition-duration: 30s;  
    transition-timing-function: linear;
    background-position: -5400px 0, -4600px 0, -3800px 0, -3000px 0;	
}

/* Keyfram-licious animation */
@-webkit-keyframes colors {
    0% {background-color: #39f;}
    15% {background-color: #F246C9;}
    30% {background-color: #4453F2;}
    45% {background-color: #44F262;}
    60% {background-color: #F257D4;}
    75% {background-color: #EDF255;}
    90% {background-color: #F20006;}
    100% {background-color: #39f;}
}
.border,.rain{
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colors;
    -webkit-animation-timing-function: ease;
}

/* In-Active State Style */
.border.unfocus{
    background: #333 !important;	
    -moz-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
    -webkit-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
    box-shadow: 0px 0px 15px rgba(255,255,255,.2);
    -webkit-animation-name: none;
}
.rain.unfocus{
    background: #000 !important;	
    -webkit-animation-name: none;
}

/* Regular Form Styles */
form{
    background: #212121;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background: -moz-radial-gradient(50% 46% 90deg,circle closest-corner, #242424, #090909);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#242424), to(#090909));
}
form label{
    display: block;
    padding: 10px 10px 5px 15px;
    font-size: 11px;
    color: #777;
}
form input{
    display: block;
    margin: 5px 10px 10px 15px;
    width: 85%;
    background: #111;
    -moz-box-shadow: 0px 0px 4px #000 inset;
    -webkit-box-shadow: 0px 0px 4px #000 inset;
    box-shadow: 0px 0px 4px #000 inset;
    outline: 1px solid #333;
    border: 1px solid #000;
    padding: 5px;
    color: #444;
    font-size: 16px;
}

form input:focus{
    outline: 1px solid #555;
    color: #FFF;
}
input[type="submit"]{
    color: #999;
    padding: 5px 10px;
    float: right;
    margin: 20px 0;
    border: 1px solid #000;
    font-weight: lighter;
    -moz-border-radius: 15px;
    -webkit-border-radius: 20px;
    border-radius: 15px;
    background: #45484d;
    background: -moz-linear-gradient(top, #222 0%, #111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#111));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22222', endColorstr='#11111',GradientType=0 );
    -moz-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
    -webkit-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
    box-shadow: 0px 1px 1px #000,0px 1px 0px rgba(255,255,255,.3) inset;
    text-shadow: 0 1px 1px #000;
}
#btnSubmit{
    border: none;
    outline: none;
    font-size: 10px;
    width: 120px;

}
footer{
    color: white;
    //text-shadow: 1px 1px 2px silver;
    font-size: 12px;
    margin: 0px auto;
    padding-top: 30px;
    clear: both;

}
.alignleft {
    float: left;
    padding-left: 2em;
}
.alignright {
    float: right;
    padding-right: 2em;
}

/*Main Nav Styling*/
.clearfix:after {
    display:block;
    clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
    /*    position: fixed;
        top: 0;*/
}

.menu {
    width:100%;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}

.menu a {
    transition:all linear 0.15s;
    color:#919191;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
.mistake{
    border: 1px solid red;
}

/*Alan's contribution'*/
.movie-container {
    text-align: center;
}
.movie-container > ol {
    padding-left: 0px;

}

.movie-item{
    /*    -webkit-flex: 1 1 auto;
        flex: 1 1 auto;*/
    text-align: center;
    display: inline;
}

.movie-item > li {
    width: 160px;
    text-align: center;
    padding-right: 0px;
}

.movie-item > li > a > img {
    max-width: 150px;
    max-height: 222px;

}

/*selects the movie image, for the page you're on*/
li > img {
    max-width: 146px;
    max-height: 218px;
    border: 3px solid #168DC6;
}
.storyline{
    
    font-size: 30px;
    color:#919191;
    font-family:'Ek Mukta';
    
    text-align: center;
    
}
.abstract{
    
    font-size: 20px;
    color:#919191;
    font-family:'Ek Mukta';
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

hr{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
    
  
}